html {
	font-size: 62.5%;
	font-family: 'system-ui', 'sans-serif';
	line-height: 1.5;
	text-align: justify;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
}

input::placeholder {
	color: rgba(48,62,77,0.50);
}

@media (max-width: 800px) {
	html {
		font-size: 60%;
	}
}

@media (max-width: 500px) {
	html {
		font-size: 55%;
	}
}